/*! This comment will show in processed css */
/* This won't */
// This won't

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather|Oswald|Roboto+Slab');

$offwhite:  #EEE8D6;
$darkblue:  #022933;
$yellow:    #FFBA00;
$blue:      #0076A3;
$green:     #548C27;
$orange:    #F39856;
$red:       #D14348;
$purple:    #6D73C2;

// INTERIM IN-USE VARIABLES
$color-main: $darkblue;
$color-background: $offwhite;
$color-headlines: $red;

$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
